html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-touchable {
  transition:
      r .3s ease
    , fill-opacity .2s ease;
}

.circle-movable {
  transition:
      r .3s ease
    , cx .25s ease
    , cy .25s ease;
}

.score {
  border-radius: 10px;
}

.score-bar {
  border-radius: 10px;
  transition: width .3s ease;
}

.game {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 500px;
   height: 100%;
}

.move-indicator {
  display: inline-block;
  margin: 12px;
  padding: 12px;
  border: 0px solid #ccc;
  border-radius: 10px;
}

.move-indicator__current {
  margin: 10px;
  padding: 10px;
  border-width: 4px;
}
